# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environment
.venv

# Environment variables — NEVER commit this
.env
.env.*

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Pytest
.pytest_cache/
htmlcov/
.coverage

# Alembic
alembic.ini

# Node
node_modules/

# Production environment variables
frontend/.env.production